.site-bar {
  display: grid;
  padding: 0 4em 0 4em;
}

@media (max-width: 768px) {
  .site-bar {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0 0.2em 0 0.2em;
  }

  .site-bar ul {
    place-self: center !important;
  }
}

.site-bar .logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  place-self: center;
}

.site-bar .logo img {
  width: 4.6em;
}

#notification {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  place-self: center;
  max-width: 2em;
  cursor: pointer;
}

.fas[data-count]{
  position:relative;
}
.fas[data-count]:after{
  position: absolute;
  right: -0.75em;
  top: -.75em;
  content: attr(data-count);
  padding: .5em;
  border-radius: 10em;
  line-height: .9em;
  color: white;
  background: rgba(255,0,0,.75);
  text-align: center;
  min-width: 2em;
  font: bold .4em sans-serif;
}

.site-bar ul {
  width: fit-content;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  place-self: flex-end;
  padding-left: 0;
}

.site-bar .upper-ul {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: lighter;
}

.site-bar .lower-ul {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  font-weight: normal;
}

.site-bar ul li {
  padding: 0 1.1em 0 1.1em;
  border-right: solid 0.15em black;
  cursor: pointer;
  text-align: center;
  align-self: center;
}

.site-bar ul li:last-child {
  border-right: none;
}

.site-bar hr {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 100%;
}
