body {
    max-width: 80em;
    margin: 0 auto;

    --bg-color: #FFF;
    --panel-color: #FFF;

    --serif-font: 'Merriweather';
    --sans-font: 'Open Sans Condensed';

    background-color: var(--bg-color);
}

a, p, input, li {
    font-family: var(--serif-font), serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--sans-font), sans-serif;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
    box-sizing: border-box;
    padding: 12px 50px;
    margin: 10px 0;
    border: 2px solid rgb(157, 233, 44);
    border-radius: 30px;
    background-color: #FFF;
}

input[type="submit"] {
    box-sizing: border-box;
    padding: 12px 40px;
    margin: 10px 0;
    border: 2px solid rgb(157, 233, 44);
    border-radius: 30px;
    background-color: rgb(157, 233, 44);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

#login, #register {
    width: 80em;
    margin: 2em auto;
}

#login header, #register header {
    color: white;
    padding: 5em 0;
    text-align: center;
    text-transform: uppercase;
    background: greenyellow;  
}

#login form, #register form {
    padding: 2em 31.5em;
}

#login input, #register input {
    display: block;
    margin: 0.5em 0;
}

#login footer p, #register footer p {
    padding: 1em;
    margin-top: -1.5em;
    text-align: center;
}