* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
  
.row {
    display: flex;
    margin: 0;
}

.column {
    flex: 50%;
    margin: auto;
}

.column > img {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

.column > i {
    position: absolute;
    left: 600px;
    top: 170px;
}

.pet-proposals {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pet-proposals > * {
    font-size: large;
    display: inline-block;
}

.pet-proposals > :first-child {
    margin-right: 9em;
}

.pet-proposals button {
    border: solid var(--green-color) 1px;
    border-radius: 2rem;
    background-color: white;
    padding: 0.5rem;
    cursor: pointer;
    font-family: var(--sans-font);
    font-weight: normal;
    width: fit-content;
    margin-right: 0.5rem;
  }

.pet-proposals > :nth-child(2) {
    color:  #ACC329;
}

.pet-proposals > :nth-child(3) {
    color:  #CECECE;
}

.pet-comments {
    text-align: justify;
    margin-left: 25%;
}

#send_comment {
    margin-left: 25%;
    width: 50%;
}

.fas.fa-arrow-circle-up.fa-2x {
    color: #ACC329;
    margin-left: 0.5em;
    position: relative;
    top: 0.2em;
}

.pet-info {
    display: flex;
    justify-content: center;
}

.pet-info label {
    margin-left: 1em;
}

.pet-info form {
  display: flex;
  flex-direction: column;
  margin-block-start: 0.83em;
  margin-inline-start: 0px;
  width: 50%;
}
